th {
    text-align: left;
}

td, th {
    padding: 0 4px; /* Поля в ячейках */
    width: 300px;
    /*border-bottom: 1px solid black; !* Линия снизу *!*/

}
tr{
    border: 0.5px solid black;
    height: 60px;
}
.line{
    /*border-bottom: 1px solid #000;*/
}

.usersItems{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 10px 1px rgba(0, 0, 0, .2);
}

.usersItems th{
    font-weight: 400;
}

.usersItems span{
    margin: 0 2px;
    cursor: pointer;
}

table{
    /*border-collapse: separate;*/
    border-collapse: collapse;
    border-spacing: 0 10px;
    border: 2px solid white;
    border-bottom: 0.5px solid black;
    /*height: 450px;*/
}

.selectedPage{
    font-weight: bold;
}

.delete{
    cursor: pointer;
}